#mySidenav a {
    position: absolute; 
    left: -100px; 
    transition: 0.3s;
    padding: 15px;
    width: 150px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0; 
  }
  
  #mySidenav a:hover {
    left: 0; 
  }
  
  #dashboard {
    top: 60px;
    background-color: #FF7700;
  }
  
  #students {
    top: 120px;
    background-color: #B91372;
  }
  
  #teachers {
    top: 180px;
    background-color: #FF7700;
  }
  
  #login {
    top: 240px;
    background-color: #B91372
  }