<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="instyle.css">
    <link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css'>
</head>
<body>
    <div class="sign-in">
        <h1>Sign In</h1>

        <br><br>

	    <form action="Vaporium Vape Shop.html">
        	<div class="inline">
            	<input type="text" id="name" placeholder="Username / Email Address" required autocomplete="off"/> <br>
            	<input type="text" id="pass" placeholder="Password" required autocomplete="off"/> <br>
            </div>

            <a class="forg-pass" href="">Forgot Password?</a>

            <div class="submit">
                <input type="submit" id="btn" value="login"/>
            </div>
        </form>

        <br>

        <p>or try using</p>

        <div class="logo">
            <a href=""><i class="bx bxl-facebook" id="fb"></i></a>

            <a href=""><i class="bx bxl-twitter" id="twt" ></i></a>

            <a href=""><i class="bx bxl-google" id="golg" ></i></a>
        </div>

        <div class="up">
            <p class="signin">or Sign Up using <a href="up.html">Sign Up</a></p> 
        </div>

    </div>   
</body>
</html>